name: Run Python Calculator

on:
  push:
    branches: [ "master"]
  workflow_dispatch:

jobs:
  run-calculator:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Run calculator script (auto input)
        run: |
          echo -e "10\n5\n+\n" | python add.py

